body {
  font-family: sans;
  line-height: 1.5;
  margin: auto;
  background-color: #F0F0F0;
  color: #154960;
}

@media screen and (orientation: landscape) {
  body {
    max-width: min(900px, calc(100% - 4em));
  }
}

@media screen and (orientation: portrait) {
  body {
    max-width: min(900px, calc(100% - 2em));
  }
}

pre:not(.asciiart) {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  background-color: #ddd;
}

pre.asciiart {
  font-family: monospace;
  line-height: 1.2;
}

textarea {
  width: 100%;
  height: calc(100vh - 16em);
  margin-top: 1em;
  margin-bottom: 1em;
}

img {
  max-width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table,tr,th,td {
  border: 1px solid grey;
  border-collapse: collapse;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

div.article_list_article {
    clear:both;
    padding:0.5em 0 0.5em 0;
}

div.article_list_date {
    float:left;
    width:8em;
    text-align:center;
}

div.article_list_title {
    float:left;
    width:calc(100% - 10em);
}

div.article_list_separator {
    clear:both;
    padding:0.75em 15% 0.5em 15%; 
}

div.article_separator {
    clear:both;
    padding:1em 10% 1em 10%; 
}

nav {
    padding:1em 0 1em 0;
}

nav > span {
    padding-left:0.5em;
    padding-right:0.5em;
}

div.analytics {
    text-align: center;
    padding: 2em;
}

